@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body
{
    /* background-color:#BDBDBD; */
    margin: 0;
    padding: 0;
    font-family:'lato',sans-serif;
    background-color: gray;
}

/* logout button */
.fa-power-off
{
    float: right;
}
/* end of logout button */

/* profile nav */
.nav-tabs h3
{
    background-color: #EEEEEE;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 7px;
    margin: 0px 5px 15px 5px;
    background-color: #69aec7;
    color: white;
    transition: all 0.3s;
}

.nav-tabs h3:hover
{
    background-color: #18A066;
    transform: translateY(-2px);
}

/* end of profile nav */

/* nav bar */
.navbar
{
    padding: 0;
}
.sidebar
{
    height: 100vh;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: black;    
}

.current
{
    /* box-shadow: 2px 5px 5px white;  */
    transition: all .4s;
}

.current:hover
{
    border: none;
    background-color: #18A066;
    border-radius: 8px;
    /* box-shadow: 2px 5px 5px gray; */
    transform: translateY(-2px);
}

.navbar-light .navbar-nav .nav-link.active
{
    background-color: #69aec7;
    border: none;
    outline: none;
    border-radius: 8px; 
    transform: translateY(-2px);
}
/* end of nav bar */


/* top nav */

.allnav
{
    background-color: #69aec7;
}

.top-bar
{
    background-color: #f8f9fa;
}

/* end of top nav */

@media (max-width: 768px)
{
    
    .sidebar
    {
        position: static;
        height: auto;
    }

    .top-nav
    {
        position: static;
    }
}

/* card */
.card-common i
{
    color: #69aec7;
}

.card-title
{
    color: red;
}

.card
{
    padding: 20px;
}

/* end of card */

/* quick post */
.bg-button{
    background-color: #69aec7;
}
/* end of quick post */

/* notice */
#notices
{
    width: 100%;
    height: 377px;
    overflow-y: scroll;
    margin: 5px;
}

/* schedule*/
#schTable_length
{
    float: right;
}

.dt-buttons
{
    float:left;
}

/*  search buttons*/
.search-btn
{
    background: #69aec7;
    color: white;
}

.search-btn:hover
{
    color: white;
}

/* end of search buttons */



/*tables*/

#AppTable_length
{
    margin:15px;
}


#RepTable_length
{
    margin:15px;
}


#patTable_length
{
    margin:15px;
}

/*--- Fixed Landing Page Section --*/
.landing {
    position: relative;
    width: 100%;
    height: 80vh;
    display: table;
    z-index: 0;
    
    
  }
  .home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /*--- iOS Fixed Background Image --*/

/* slider home page */


.slideshow {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
	background-image: url("https://scontent.fpbh1-1.fna.fbcdn.net/v/t1.0-9/34345898_244900099390766_2132244824860917760_o.jpg?_nc_cat=111&_nc_sid=6e5ad9&_nc_oc=AQmvWPKBtB50psEa3wjnf9JlTHyw5_w8vTMHyQCS0tuVzahzoBbXzvSU_WjccW68cFM&_nc_ht=scontent.fpbh1-1.fna&oh=64e6b343e3fc0f51ce6e7d4ff58bfafd&oe=5ECE1012");

  }
  .slideshow li:nth-child(2) {
    background-image: url("https://images2.alphacoders.com/907/thumb-350-907191.png");
    animation-delay: 10s;
  }
  .slideshow li:nth-child(3) {
	background-image: url("https://www.who.int/images/default-source/wco_myanmar/voluntary-unpaid-blood-donation-national-blood-centre-in-yangon-region.jpg?sfvrsn=af455819_2");
    animation-delay: 20s;
  }
  .slideshow li:nth-child(4) {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cf/Jdw.jpg");
    animation-delay: 30s;
  }
  .slideshow li:nth-child(5) {
    background-image: url("https://thebhutanese.bt/wp-content/uploads/2017/11/s2-1.jpg");
    animation-delay: 40s;
  }

  @keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

/* end of slider */

/* title */
.caption{
    left: 18%;
    position: absolute;
	top: 18%;
	z-index: 1;
	color: white;
	text-transform: uppercase;
}
.caption h1{
	font-size: 3.2rem;
	font-weight: 700;
	letter-spacing: .3rem;
	/* /text-shadow: .1rem .1rem .5rem grey;/ */
	padding-bottom: .1rem;
}

/* end of title */


/* calendar */
